* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

:root {
  --renk1: #FCE5CD;
  --renk2: #F7D7B5;
  --renk3: #351C75;
  --renk4: #E69139;
  --pre-color: #2D2D2D;
}

a {
  text-decoration: underline;
  color: var(--renk3);
}

h1 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 0.3px;
  color: var(--renk3);
}

h2 {
  letter-spacing: 0.3px;
  font-size: 24px;
  font-weight: 800;
  color: var(--renk4);
}

h3 {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.btn {
  border: 2px solid var(--renk3);
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 14px;
  display: none;
  color: var(--renk3);
}
@media (max-width: 1000px) {
  .btn {
    display: inline-block;
  }
}

.intro {
  background: var(--renk1);
  height: calc(100vh - 50px);
}
@media (min-width: 1000px) {
  .intro {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: [intro-left] 1fr [intro-sidebar] 250px;
    grid-template-areas: "intro-left intro-sidebar" "intro-footer intro-sidebar";
  }
}
@media (max-width: 1000px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro .intro-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    will-change: transform;
    transition: 300ms transform;
  }
  .intro .intro-left {
    margin-top: auto;
  }
  .intro .intro-left h1 {
    font-size: 50px;
  }
  .intro .intro-left h2 {
    font-size: 18px;
  }
  .intro .intro-footer {
    margin-top: auto;
    font-size: 12px !important;
  }
}
.intro .intro-left {
  grid-area: intro-left;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.intro .intro-left h1 {
  padding-bottom: 10px;
}
.intro .intro-left .btn {
  margin-top: 30px;
}
.intro .intro-sidebar {
  grid-area: intro-sidebar;
  background: var(--renk2);
  padding: 35px;
  overflow: auto;
}
.intro .intro-sidebar.active {
  transform: translateX(0);
}
.intro .intro-sidebar .btn {
  margin-bottom: 30px;
}
.intro .intro-sidebar section:not(:last-child) {
  margin-bottom: 40px;
}
.intro .intro-sidebar section h3 {
  padding-bottom: 10px;
}
.intro .intro-sidebar section ul li a {
  display: block;
  padding: 3px 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #222;
}
.intro .intro-footer {
  grid-area: intro-footer;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.4px;
  padding-bottom: 50px;
  color: #333;
}

main .hamburger {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 100%;
  background: var(--renk4);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--renk3);
  will-change: transform;
  transition: 300ms transform;
}
@media (min-width: 1000px) {
  main .hamburger {
    display: none;
  }
}
main .hamburger.active {
  transform: translateX(-240px);
}
@media (min-width: 1000px) {
  main .container {
    display: grid;
    grid-template-columns: 1fr 300px;
  }
}
@media (min-width: 1520px) {
  main .container {
    display: grid;
    grid-template-columns: 1fr 1100px 2fr;
  }
}
main header {
  background: var(--renk3);
}
main header .container {
  height: 50px;
}
main header h2 {
  align-self: center;
}
@media (min-width: 1000px) {
  main header h2 {
    padding-left: 30px;
  }
}
@media (min-width: 1520px) {
  main header h2 {
    grid-column: 2/3;
    padding-left: 0;
  }
}
@media (max-width: 1000px) {
  main header h2 {
    line-height: 50px;
    padding: 0 30px;
  }
}
main header h2 a {
  color: var(--renk4);
  text-decoration: none;
}
main .content {
  padding: 30px;
  font-size: 20px;
  line-height: 150%;
}
@media (min-width: 1000px) {
  main .content {
    padding-left: 30px;
  }
}
@media (min-width: 1520px) {
  main .content {
    grid-column: 2/3;
    padding-left: 0;
  }
}
main .content h2 {
  font-size: 36px;
  color: var(--renk3);
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}
main .content h3 {
  font-size: 24px;
  color: var(--renk3);
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
main .content pre {
  background: var(--pre-color);
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  overflow: auto;
  font-family: Monaco, Consolas;
}
main .content code {
  font-size: 14px;
  font-family: Monaco, Consolas;
}
main .content p {
  margin-bottom: 25px;
}
main .content blockquote {
  border-left: 5px solid var(--renk4);
  padding-left: 25px;
  margin-bottom: 25px;
}
main .content section {
  scroll-margin: 25px;
}
main .content section:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 50px;
  padding-bottom: 25px;
}
main .sidebar {
  overflow: auto;
  background: var(--renk2);
  padding: 25px 40px;
}
@media (min-width: 1520px) {
  main .sidebar {
    grid-column: 3/3;
  }
}
@media (max-width: 1000px) {
  main .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    transform: translateX(100%);
    will-change: transform;
    transition: 300ms transform;
  }
  main .sidebar .version {
    display: none;
  }
  main .sidebar nav {
    position: static !important;
  }
}
main .sidebar .version {
  font-size: 16px;
  padding-bottom: 20px;
}
main .sidebar nav {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
}
main .sidebar nav ul li {
  margin-bottom: 5px;
}
main .sidebar nav ul li a {
  display: block;
  padding: 3px 0;
  font-size: 18px;
}
main .sidebar.active {
  transform: translateX(0);
}
main footer {
  background: var(--renk3);
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */