@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a{
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Graphik';
    src: url('../dashboard/font/') format('woff2'),
        url('../dashboard/font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../dashboard/font/Graphik-Light.woff2') format('woff2'),
        url('../dashboard/font/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../dashboard/font/Graphik-Medium.woff2') format('woff2'),
        url('../dashboard/font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html,
body{
    height: 100%;
    font-family: Graphik, sans-serif;
}
body{
    display: flex ;
}
.sidebar{
    width: 252px;
    background: #4C52BC;
    display: flex;
    flex-direction: column;
}
.sidebar .logo{
    padding: 35px 0 65px 42px;

}
.sidebar .logo a{
    display: block;
}
.sidebar .logo a img{
    width: 100px;
    height: 70px;
}
.sidebar .menu ul li a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 48px;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
}
.sidebar .menu ul li a:hover{
    color: #fff;
}
.sidebar .menu ul li.active a {
    color: #fff;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .08));
    box-shadow: 0 1px 3px 4px rgba(0, 0, 0, .1);
}
.sidebar .storage{
    padding: 0 40px 35px;
    margin-top: auto;
}
.sidebar .storage .title{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    align-items: center;
}

.sidebar .storage .title div i{
    margin-right: 5px;
}
.sidebar .storage .title .percent{
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
}
.sidebar .storage .bar{
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: #30358A;
    margin-top: 12px;
}
.sidebar .storage .bar span{
    width: auto;
    height: 6px;
    border-radius: 6px;
    background: #F8D9AF;
    display: block;
}






.content{
    flex: 1;
}